/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=VT323");

/* ----------
app
---------- */
.app__wrapper {
  background: black;
  color: #20c20e;
  font-family: "VT323", monospace;
  font-size: 1.2em;
  height: 100vh;
}

/* ----------
Header
---------- */
.header__wrapper {
  align-items: center;
  background: black;
  border: 1px solid black;
  color: #20c20e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.header__header {
  font-size: 1.2em;
  font-weight: bold;
}

.header__copy {
  margin-top: 0.5em;
}

/* ----------
Expert Functions
---------- */
.expert-functions__wrapper {
  border: 2px dashed #20c20e;
  display: flex;
  justify-content: space-around;
  margin: 0em 1em 2em 1em;
  padding-bottom: 1em;
}

/* ----------
ObservationForm
---------- */
.observation-form__wrapper {
  margin-top: 1em;
}

.observation-form__form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.observation-form__header {
  margin-bottom: 0.5em;
}

.observation-form__label {
  margin-bottom: 0.5em;
}

.observation-form__input {
  margin-bottom: 0.5em;
}

.observation-form__button {
  background: grey;
  color: #20c20e;
  padding: 0.5em;
}

.observation-form__button:hover {
  cursor: pointer;
}

/* ----------
Amateur Leaderboard
---------- */
.amateur-leaderboard__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table,
th,
td {
  padding: 5px;
  border: 1px solid #20c20e;
  text-align: center;
}

/* ----------
Observations 
---------- */
.observations__wrapper {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  padding: 0.5em;
}

/* ----------
Observation
---------- */
.observation__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.observation__image-container {
  margin: 0.5em;
}

.observation__image {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.observation__confirm-button {
  background: grey;
  color: #20c20e;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
}

.observation__confirm-button:hover {
  cursor: pointer;
}
